@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    -webkit-user-drag: none;
}
body{
    padding: 0px 20px 20px 20px;
    background-color: black;
    color: white;
    font-family: "Open Sans",sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-head{
    font-size: 18px;
    color: rgb(223, 223, 223);
}
.logo{
    width: 90px;
    height: auto;
}
.nav-bts-con{
    display: flex;
}
.lang-btn{
    width: 110px;
    font-size: 12px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.829);
    border-radius: 2px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.lang-globe{
    width: 15px;
}
.lang-down{
    width: 16px;
}
.sign-btn{
    padding: 5px 18px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    border-radius: 2px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-left: 30px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.hero-text{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.hero-btn{
    padding: 8px 25px;
    color: white;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    border: none;
    background-color: red;
    margin-top: 25px;
    cursor: pointer;
}
.hero-img{
    width: 610px;
}
.st-con{
    margin: 0px -20px;
    padding: 30px 20px;
    height: 520px;
    display: flex;
    position: relative;
    background-image: url('img/mindflyer.png');
    background-size: cover;
    background-position: center;

}
.st-elaven{
    position: absolute;
    width: 520px;
    bottom: 0;
    right: 40px;
}
.st-genre{
    font-weight: 500;
    font-size: 24px;
}
.st-txt{
    font-size: 42px;
    font-weight: bold;
    margin: 18px 0px;
}
.st-info{
    font-size: 18px;
    font-weight: 600;
}
.st-info span{
    color: gray;
    font-size: 16px;
    margin-right: 30px;
    font-weight: 500;
}
.st-disc{
    font-size: 14px;
    color: rgb(182, 182, 182);
    margin: 30px 0px;
}
.st-watch{
    background-color: red;
    width: 160px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 30px;
}
.st-play-img{
    width: 16px;
}
.st-season{
    padding: 10px 40px;
    font-weight: 500;
    border: 1px solid rgb(110, 110, 110);
    color: white;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
}
.st-btns{
    display: flex;
}
.st-popular{
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0px;
}
.series-img{
    width: 350px;
}
.ft-sec{
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.ft-img-div{
    background-color: red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
}
.ft-img{
    width: 28px;
}
.ft-title{
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0px;
}
.ft-sub{
    font-size: 12px;
    color: rgb(182, 182, 182);
}
.pricing-sec{
    background-color: #111;
}
.pricing-table{
    width: 100%;
    border-collapse: collapse;
    color: white;
}
 .pricing-table td {
            padding: 15px;
            text-align: center;
            border-bottom: 1px solid #333;
 }
 .pricing-table th{
    padding: 15px;
 }
 .pricing-divider td{
    background-color: black;
    border: none;
 }
 .plan-button{
    background-color: rgba(255, 0, 0, 0.753);
    display: inline-block;
    padding: 3px 20px;
    border-radius: 7px;
    font-weight: 500;
 }
 #mobile-txt{
    background-color: red;
 }
 .pricing-table tr td{
    color: white;
    font-weight: 500;
 }
 .devices-row{
    user-select: none;
 }
.devices-row img{
    width: 15px;
    margin-bottom: 15px;
}
#tablet-icon {
    width: 24px;
}
.pricing-disc{
    font-size: 14px;
    color: #e0e0e0;
    margin: 30px;
}
.next-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-btn{
    padding: 6px 150px;
    background-color: red;
    color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}
.qa-tle{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 50px 0px;
}
.qa-sec{
    margin-bottom: 80px;
}
.qa-divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 14px 30px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.qa-txt{
    font-weight: 600;
    font-size: 16px;
}
.qa-add-icon{
    width: 25px;
    cursor: pointer;
}
.unli-sec{
  position: relative;
  height: 350px;
  margin: 0px -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.unli-sec::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/overview.png');
  background-position: center;
  opacity: 0.45;  
  z-index: -1;  
}
.unli-tle{
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
}
.unli-sub{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px;
}
.unli-btn{
    padding: 7px 34px;
    border: none;
    background-color: red;
    color: white;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
}